:root{
    --primary-font-color: #212121;
    --secondary-font-color: #757575;
    --accent-color: #2196F3;
    --primary-background: #FFFFFF;
    --secondary-background: #2F303A;
    --contact-footer: #FFFFFF60;
    --logo-color: #000000;
    --button-current: #F5F4FA;
    --active-button: #188CE8;
}


body{
color:var(--primary-font-color);
background-color: var(--primary-background);
font-family: Roboto, sans-serif;
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Site nav */
.header-block{
background-color: var(--primary-background);
}

.web-logo{
    color: var(--accent-color);  
}

.logo-link{
    color: var(--logo-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.site-nav .link {
    color: var(--primary-font-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link.current{
color: var(--accent-color);
}

.contact-nav .link {
    color: var(--secondary-font-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.contact-nav .link:hover,
.contact-nav .link:focus {
    color: var(--accent-color);
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    outline: 2px solid tomato;
}

/* Main title */
.main{
    background-color: var(--secondary-background);
    text-align: center;
}

.main-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--primary-background);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    outline: 2px solid tomato;
}

.main-button{
    color: var(--primary-background);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 24px;
    align-items: center;
    text-align: center;
    min-width: 200px;
    cursor: pointer;
    border: none;
}

.main-button:hover,
.main-button:focus{
   background-color: var(--active-button);
}

/* Activity section */



.section {
padding-top: 94px;
padding-bottom: 94px;
outline: 2px dotted green;
}



.activity-title{
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.avtivity-content{
    margin-top: 0;
    margin-bottom: 0;
    color:var(--secondary-font-color);
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
}

.activity-section{
padding-bottom: 0;
}

/* Work section */

.work-section{

}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    padding-top: 0;
}


/* Team section */
.team-prime{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}

.team-section{
background-color: var(--button-current);
}

.team-title{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.team-content{
color: var(--secondary-font-color);
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
}

/* Footer */
.footer-block{
    background-color: var(--secondary-background);
}
.logo-footer{
    color: var(--primary-background);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.adress-footer{
    color: var(--primary-background);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.contact-footer .link{
    color: var(--contact-footer) ;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.contact-footer .link:hover,
.contact-footer .link:focus
{
    color: var(--accent-color);
}

/* Portfolio button */
.prf-button {
    color: var(--primary-font-color);
    background-color: var(--button-current);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    padding: 6px 22px;
    border: none;
    cursor: pointer;
}

.prf-button:hover,
.prf-button:focus{
    background-color: var(--accent-color);
    color: var(--primary-background);
}
/* Examples */

.link-style{
    text-decoration: none;
}

.examples-title{
    color: var(--primary-font-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.examples-item{
    color: var(--secondary-font-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}