:root {
  --primary-font-color: #212121;
  --secondary-font-color: #757575;
  --accent-color: #2196f3;
  --primary-background: #ffffff;
  --secondary-background: #2f303a;
  --contact-footer: #ffffff60;
  --logo-color: #000000;
  --button-current: #f5f4fa;
  --active-button: #188ce8;
  --header-block-line: #ececec;
  --portfolio-border: #eeeeee;
  --team-background: #c4c4c4;
  --client-icon-border: #afb1b8;
  --team-item-footer-color: rgba(255, 255, 255, 0.1);
  --portfolio-overlay-color: rgba(33, 150, 243, 0.9);
  --background-modal-color: rgba(0, 0, 0, 0.2);
}

body {
  color: var(--primary-font-color);
  background-color: var(--primary-background);
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

/* Site nav */
.header-block {
  background-color: var(--primary-background);
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.header-block.line {
  border-bottom: 1px solid var(--header-block-line);
}

.main-nav {
  display: flex;
  align-items: center;
}

.web-logo {
  color: var(--accent-color);
}

.logo-link {
  color: var(--logo-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.current::after {
  position: absolute;
  content: '';
  width: 100%;
  display: block;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: 0;
}

.contact-nav {
  display: flex;
  margin-left: 318px;
}

.contact-nav .item:not(:last-child) {
  margin-right: 30px;
}

.contact-link {
  display: flex;
  color: var(--secondary-font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.envelope-icon,
.smartphone-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Main title */

.main {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-background);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/team.jpg);
  text-align: center;
  padding: 200px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-background);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.main-button {
  color: var(--primary-background);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 24px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  background-color: var(--active-button);
}

/* Activity section */

.activity {
  display: flex;
  margin-right: -30px;
}
.activity .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
}

.activity-title {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.avtivity-content {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-font-color);
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
}

.activity-section {
  padding-bottom: 0;
}

.activity-icon {
  display: flex;
  background-color: var(--button-current);
  border-radius: 4px;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

/* Work section */

.work {
  display: flex;
  margin-right: -30px;
}

.work .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 0;
}
.work-item {
  position: relative;
}

.work-action {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}

.work-item img {
  vertical-align: top;
}

.work-action-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-background);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Team section */

.team {
  display: flex;
  margin-right: -30px;
}

.team .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
  background-color: var(--primary-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-prime {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.team-section {
  background-color: var(--button-current);
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.team-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-content {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-font-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-padding {
  padding: 30px 0;
}

.list-icon {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team-social-link {
  color: var(--client-icon-border);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-background);
}

/* Clients */

.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 0;
}

.client {
  display: flex;
  margin-right: -30px;
}

.client .item {
  flex-basis: calc(100% / 6 - 30px);
  margin-right: 30px;
  width: 170px;
  height: 92px;
}

.client-link {
  color: var(--client-icon-border);
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--client-icon-border);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: currentColor;
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

/* Footer */
.footer-block {
  max-width: 1600px;
  background-color: var(--secondary-background);
  padding: 60px 0;
  margin-left: auto;
  margin-right: auto;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 28px;
  color: var(--primary-background);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.adress-footer {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-background);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-footer {
  margin-top: 12px;
}

.contact-footer .link {
  display: inline-block;
  color: var(--contact-footer);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer .email {
  margin-bottom: 12px;
}

.contact-footer .link:hover,
.contact-footer .link:focus {
  color: var(--accent-color);
}

.half-block {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

/* Footer join section */

.join {
  color: var(--primary-background);
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
}

.list-icon-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-item-footer {
  background-color: var(--team-item-footer-color);
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team-social-link-footer {
  color: var(--primary-background);
  display: flex;
  width: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon-footer {
  fill: currentColor;
}

.team-social-link-footer:hover,
.team-social-link-footer:focus {
  background-color: var(--accent-color);
}

/* Portfolio button */

.button-styles {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-styles .item:not(:last-child) {
  margin-right: 8px;
}

.prf-button {
  color: var(--primary-font-color);
  background-color: var(--button-current);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.prf-button:hover,
.prf-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-background);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Examples */

.examples {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.examples .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.link-style {
  text-decoration: none;
}

.examples-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-font-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-item {
  margin-top: 4px;
  margin-bottom: 0;
  color: var(--secondary-font-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.link-style > img {
  vertical-align: bottom;
}

.examples-border {
  border: 1px solid var(--portfolio-border);
  padding: 20px 24px;
  border-top: none;
}

.examples-box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--portfolio-overlay-color);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples > .item:hover .overlay {
  transform: translatey(0);
}

.overlay-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: start;
  padding: 63px 24px;
  color: var(--primary-background);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-modal-color);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--primary-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--primary-background);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
