.client {

&__title {
  color: var(--primary-font-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

&__icon {
  fill: currentColor;
}

&__card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 479px) {
  &__card {
    flex-direction: column;
  }
}

&__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--client-icon-border);
  border-radius: 4px;
  color: var(--client-icon-border);
  // width: calc((100% - 60px) / 2);
  width: auto;
  height: 92px;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
&__item:hover, &__item:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  &__item {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  &__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  &__item {
    width: 170px;
  }
}
}