
.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;

 &__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

&__field:nth-child(4) {
  margin-bottom: 0;
}

&__input {
  margin-top: 0;
  margin-bottom: 0;
  height: 40px;
  border: 1px solid var(--textarea-border);
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__label {
  margin-bottom: 4px;
  color: var(--secondary-font-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
}

&__input-icon {
  position: absolute;
  top: 29px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__field:focus-within > &__input-icon {
  fill: var(--accent-color);
}

&__input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

&__textarea::placeholder {
  color: var(--placeholder-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
}

&__textarea {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid var(--textarea-border);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__textarea:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

&__checkbox {
  margin-top: 20px;
  text-align: center;
}

&__accept {
  color: var(--secondary-font-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

&__terms {
  color: var(--accent-color);
  text-decoration: underline;
}

&__label-checkbox {
  display: flex;
  gap: 7px;
  align-items: center;
  margin-left: 14px;
}

&__input-checkbox {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}

&__checkbox-icon {
  display: inline-block;
  fill: var(--primary-background);
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-font-color);
  border-radius: 2px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__input-checkbox:checked ~ &__checkbox-icon {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--accent-color);
}

&__button {
  margin-top: 30px;
  display: flex;
  color: var(--primary-background);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__button:hover,
&__button:focus {
  background-color: var(--active-button);
}
 
}
