.main-nav__mobile-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-background);
  padding: 48px 40px;
  text-align: left;
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__mobile-menu.is-open {
  display: flex;
  flex-direction: column;
  transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .main-nav__mobile-menu.is-open {
    display: none;
  }
}

.main-nav__button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .main-nav__button {
    display: none;
  }
}
.main-nav__button:hover, .main-nav__button:focus {
  cursor: pointer;
  fill: var(--accent-color);
}

.main-nav__icon-close {
  display: none;
}

.main-nav__button.is-open .main-nav__icon-close {
  display: block;
}

.main-nav__button.is-open .main-nav__icon-menu {
  display: none;
}

.main-nav__form-list {
  margin-bottom: auto;
}

@media screen and (min-width: 768px) {
  .main-nav__form-list {
    list-style: none;
  }
}

.main-nav__social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  row-gap: 10px;
}

.main-nav__social-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  color: var(--accent-color);
}

.main-nav__social-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid var(--textarea-border);
}

.main-nav__social-item:not(:first-child) {
  padding-left: 10px;
}

.main-nav__form-tel {
  color: var(--accent-color);
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
}

.main-nav__form-mail {
  color: var(--secondary-font-color);
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.667;
  margin-top: 32px;
}