.main-nav {
  position: relative;
}

.main-nav__border{
 border-bottom: 1px solid var(--header-block-line); 
}

.main-nav .main-nav__logo {
  margin-top: 16px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .main-nav .main-nav__logo {
    margin-right: 88px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav .main-nav__logo {
    margin-right: 93px;
  }
}

.main-nav__header-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .main-nav__header-center {
    justify-content: none;
  }
}

.main-nav__navigation {
  display: flex;
}
@media screen and (min-width: 768px) {
  .main-nav__navigation {
    margin-right: auto;
  }
}

.main-nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .main-nav__list {
    display: flex;
    margin-right: auto;
  }
}

.main-nav__item {
  padding: 32px 0;
  position: relative;
}
.main-nav__item:not(:last-child) {
  margin-right: 50px;
}

.main-nav__form-item {
  padding: 0;
}
.main-nav__form-item:not(:last-child) {
  margin-bottom: 32px;
}

.main-nav__link {
  display: block;
  color: var(--primary-font-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .main-nav__link {
    font-size: 14px;
    line-height: 1.14;
  }
}
.main-nav__link--current {
  color: var(--accent-color);
}
.main-nav__link:hover, .main-nav__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.main-nav__link--current::after {
  display: none;
  position: absolute;
  content: '';
  width: 100%;
  /* display: block; */
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: 0;
}
@media screen and (min-width: 768px) {
  .main-nav__link--current::after {
    display: inline-block;
  }
}

.main-nav__link-social {
  color: var(--accent-color);
}

.main-nav__contact {
  display: flex;
  align-items: center;
  color: var(--secondary-font-color);
  fill: var(--secondary-font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.main-nav__contact:hover, .main-nav__contact:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.main-nav__info {
  display: flex;
  list-style: none;
  display: none;
}
@media screen and (min-width: 768px) {
  .main-nav__info {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav__info {
    display: flex;
    flex-direction: row;
  }
}

.main-nav__contacts {
  display: flex;
  align-items: center;
}
.main-nav__contacts:not(:last-child) {
  margin-right: 0;
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .main-nav__contacts:not(:last-child) {
    margin-right: 40px;
    margin-bottom: 0;
  }
}

.main-nav__data {
  margin-left: 8px;
}

@media screen and (min-width: 1200px) {
  .main-nav__data {
    margin-left: 10px;
  }
}

