.main-nav {
  position: relative;

  &__border{
 border-bottom: 1px solid var(--header-block-line); 
}

& &__logo {
  margin-top: 16px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  & &__logo {
    margin-right: 88px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  & &__logo {
    margin-right: 93px;
  }
}

&__header-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  &__header-center {
    justify-content: none;
  }
}

&__navigation {
  display: flex;
}
@media screen and (min-width: 768px) {
  &__navigation {
    margin-right: auto;
  }
}

&__list {
  display: none;
}
@media screen and (min-width: 768px) {
  &__list {
    display: flex;
    margin-right: auto;
  }
}

&__item {
  padding: 32px 0;
  position: relative;
}
&__item:not(:last-child) {
  margin-right: 50px;
}

&__form-item {
  padding: 0;
}
&__form-item:not(:last-child) {
  margin-bottom: 32px;
}

&__link {
  display: block;
  color: var(--primary-font-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  &__link {
    font-size: 14px;
    line-height: 1.14;
  }
}
&__link--current {
  color: var(--accent-color);
}
&__link:hover, &__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
&__link--current::after {
  display: none;
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: 0;
}
@media screen and (min-width: 768px) {
  &__link--current::after {
    display: inline-block
  }
}

&__link-social {
  color: var(--accent-color);
}

&__contact {
  display: flex;
  align-items: center;
  color: var(--secondary-font-color);
  fill: var(--secondary-font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

&__contact:hover, &__contact:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

&__info {
  display: flex;
  list-style: none;
  display: none;
}
@media screen and (min-width: 768px) {
  &__info {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  &__info {
    display: flex;
    flex-direction: row;
  }
}

&__contacts {
  display: flex;
  align-items: center;
}
&__contacts:not(:last-child) {
  margin-right: 0;
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  &__contacts:not(:last-child) {
    margin-right: 40px;
    margin-bottom: 0;
  }
}

&__data {
  margin-left: 8px;
}

@media screen and (min-width: 1200px) {
  &__data {
    margin-left: 10px;
  }
}
  }
