.header {
  background-color: var(--primary-background);
  margin-right: auto;
  margin-left: auto;

  &__line {
  border-bottom: 1px solid var(--header-block-line);
}

&__container {
  display: flex;
  align-items: center;
}
}


.main-nav {
  display: flex;
  align-items: center;

  &__logo {
  color: var(--logo-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

&__web {
  color: var(--accent-color);
}

&__list {
  display: flex;
  margin-left: 93px;
}

&__item:not(:last-child) {
  margin-right: 50px;
}

&__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__link:hover,
&__link:focus {
  color: var(--accent-color);
}

&__link--current {
  color: var(--accent-color);
}

&__link--current::after {
  position: absolute;
  content: '';
  width: 100%;
  display: block;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: 0;
}
}

