.social {

&__icon-set {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

&__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  fill: var(--client-icon-border);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
&__icon:hover, &__icon:focus {
  background-color: var(--accent-color);
  fill: var(--primary-background);
  cursor: pointer;
}
&__icon-footer {
  background-color: var(--team-item-footer-color);
  fill: var(--primary-background);
  transition: fill, background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}