.work {
  padding-top: 0px;
  display: none;
}
@media screen and (min-width: 480px) {
  .work {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .work {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work__title {
  color: var(--primary-font-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work__card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.work__item {
  position: relative;
  width: 370px;
}

.work__details {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-background);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.214;
}
